.border-taask-orange {
    border: 2px solid lightslategray;
  }

  i.large-icon {
    font-size: 100px!important;
  }

.large-plan-icon {
    font-size: 100px!important;
    line-height: 200px!important;
  }

  .plan-card-background {
      background-color:white;
  }

  .text-large {
    font-size: 3.5rem!important;
  }

  .text-dkk {
      color: black;
      font-size: 20px;
      position: absolute;
      top: 240px;
  }

  .text-title {
      color: black;
      font-size: 30px;
  }

  .color-orange {
      color: black!important
  }

  .color-gray {
    color: black!important;
  }

  .details-text-left {
      color: #ffaa45;
      font-weight: bold;
      padding-left: 20%;
      font-size: 19px;
  }

  .color-mdr {
    color: black;
  }

  .color-orange-cart {
    color: black;
  }

  .details-text-right {
    color: black;
    font-size: 15px;
  }

  .cart {
      background-color: white;
      border: 2px solid lightslategray;
      padding: 35px;
  }

  .cart-title-orange {
    color: #ffaa45;
    font-weight: bold;
    font-size: 19px;
  }

  .text-bold {
      font-size: 15px
  }

  .text-large-2 {
      font-size: 3rem;
      color: #ffaa45;
  }

  .pricing-icons {
    max-width: 100px;
   }

   .first_every_month {
     display: inline;
     float: right;
   }

   .account-activation-title {
      
   }

   .bold-orange {
    color: #ffaa45;
    font-weight: bold;
   }

   .credit-card-box {
     padding: 25px;
     width: 100%;
     background-color: #F8F8F8;

     border-radius: 10px;
   }